@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 23vh;
    padding-top: 10px;
    background-color: rgb(206, 202, 202);
   
    
}

.logo1{
    width: 130px;
    height: 70px;
    text-align: center;
    margin: auto;
    background-image: url(../imagens/logo1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}   
.logo2{
    width: 100px;
    height: 70px;
    background-image: url(../imagens/logo2.png);
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}   
section{
    
    margin: auto;
    width: 90vw;
    height: 80vh;
    background-image: url(../imagens/mobile.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.texto{
    margin-top: 10PX;
    margin-right: 20px;
    width: 35%;
    height: 15%;
    background-color:rgba(241, 240, 240, 0.753);
    float: right;
}
.form{
    margin-left: 450px;
    margin-right: 20PX;
    width: 35%;
    height: 80%;
    background-color: rgba(173, 170, 170, 0.69);
    float: right;
}


@media screen and (min-width:390px){
    section{
        width:90%;
        background-image: url(../imagens/mobile.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    header{
        padding-top: 30px;
    }
    .logo1{
        width: 180px;
      }
      .logo2{
        width: 150px;
      }
}
@media screen and (min-width:540px){
    header{
        height:175px;
    }
  section{
    width: 85%;
    background-image: url(../imagens/520421e1c543fd3ffa853acb527714c5.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .logo1{
    width: 180px;
  }
  .logo2{
    width: 150px;
  }
}
@media screen and (min-width:768px){
    section{
        width: 85%;
        background-image: url(../imagens/520421e1c543fd3ffa853acb527714c5.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    header{
        height: 100px;
    }
    .logo1{
        display: block;
        float: left;
        margin-top:-8px;
        margin-left: 130px;
    }
    .logo2{
        display: block;
        float: right;
        margin-top:-8px;
        margin-right: 120px;
    }
   
  }